.sidenav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sidenav__logo{
    width: 120px;
    margin: 25px;
}

.sidenav__btns{
    display: flex;
    flex-direction: column;
}

.sidenav__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    margin: 5px 10px;
    padding: 12px 15px;
    border-radius: 8px;
    width: 100%;
}

.sidenav__btn:hover{
    cursor: pointer;
    background-color: #efefef;
}

.sidenav__btn span {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 3px;
}

.sidenav__more{
    position: fixed;
    bottom: 5px;
}

.icon{
    font-size: 30px !important;
}